# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Архивы и jar — игнорируются везде, кроме папок с готовыми бинарниками
*.jar
*.war
*.zip
*.tar.gz
*.rar
!/mods/*.jar
!/plugins/*.jar
!/dev/gradle/wrapper/gradle-wrapper.jar

# Gradle
.gradle/
build/
dev/**/repo/

# Запуски Minecraft в dev-окружении
run/
run-data/
runs/

# Кэш datagen
.cache/

# IDE
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/
.classpath
.project
.settings/
bin/

# OS
.DS_Store
Thumbs.db
